#translate-popover{
    width: 300px;
    color: black;
    z-index: 1000;
    position: fixed;
    text-align: left;
    border: solid red 1px;
    background-color: beige;
}

.translate-title{
    margin: 0px;
    min-height: 20px;
    font-style: normal;
    font-weight: normal;
    padding: 5px 35px 5px 10px;
    font-size: 18px;
    word-wrap: break-word;
}

.translate-content{
    height: 50px;
    padding: 10px;
    font-size: 15px;
    overflow-y: auto;
    background-color: white;
}

.translate-close{
    float: right;
    padding: 0px 5px;
    margin: 5px 8px;
    font: -webkit-control;
}

.translate-close>span{
    font-size: 100%;
    font-family: sans-serif;
    margin: 0px;
}

.translate-close:hover{
    background-color: transparent;
}